<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Xcode</string>
		<key>image</key>
		<string>0.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mac</string>
		<key>image</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iPhone</string>
		<key>image</key>
		<string>2.jpg</string>
	</dict>
</array>
</plist>
